#page1{
    background-image: url(../images/brand/bg_brand_story01.jpg);
    repeat: no-repeat;
}
#page2{
    background-image: url(../images/brand/bg_brand_story02.jpg);
    repeat: no-repeat;
}
#page3{
    background-image: url(../images/brand/bg_brand_story03.jpg);
    repeat: no-repeat;
}
#page4{
    background-image: url(../images/brand/bg_brand_story04.jpg);
    repeat: no-repeat;
}