.carousel-control-prev,
.carousel-control-next{
    width:2%;height:8%;
    background:rgba(0,0,0,0.3);
    top:45%;
    border-radius:0.18rem;
}
.carousel-control-prev{
    margin-left:2rem;
}
.carousel-control-next{
    margin-right:2rem;
}
.carousel-indicators li{
    width:10px;height:10px;
    border-radius:50%;
    background:rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    background-color: rgba(219, 138, 5, 0.5);
}
.my_position_img{
    transition:1s;
}
.my_position_img:hover{
    transform:scale(1.1,1.1);
}
iframe{
    height:auto;
}